<header class="w-full bg-[#BBE6E4] p-4 mb-6 shadow-md text-[#2B4162]">
    <div class="w-full flex flex-col sm:flex-row justify-between items-center text-center sm:text-left">
        <div class="mb-3 sm:mb-0">
            <h1 class="text-xl md:text-2xl font-bold">{{city}}, {{countryCode}}</h1>
            <p class="text-xs md:text-sm">
                Last update: {{getHours last_update}}:{{getMinutes last_update}}
            </p>
        </div>
        <a href="/" class="bg-[#385F71]/90 hover:bg-[#2E4E5E] text-gray-100 font-semibold py-2 px-4 rounded-md shadow-md transition duration-300">
            Search Again
        </a>
    </div>
</header>
