<html>
<head>
    <title>Weather</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="application/javascript" src="/javascript/utils.js"></script>
</head>
<body class="font-mono"">
    {{{body}}}
</body>
</html>