<html>

<head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-sky-300 min-h-screen">
    {{{body}}}
    <script src="/javascript/utils.js"></script>
</body>

</html>
