<html>
<head>
    <title>Weather</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="application/javascript" src="/javascript/utils.js"></script>
</head>
<body class="font-mono">
    {{{body}}}
<script defer data-domain="weather.hello-data.nl" src="https://plausible.thipii.nl/js/script.js"></script>
</body>
</html>
