<html>
<head>
    <title>Weather</title>
    <link href="/src/output.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-sky-200 via-sky-300 to-sky-500 min-h-screen">
    {{{body}}}
</body>
</html>
