@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
  }
}
